html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: #13294B;
    background-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.25) 20%, 
        rgba(241, 237, 0, 0.07) 50%,
        rgba(0, 0, 0, 0.25) 80%,
        rgba(0, 0, 0, 0.4) 100%),
        url("images/black-wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 70%;
}

#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 12vw;
    height: 12vw;
    box-shadow: 0 0 .5vw .1vw  #060d18;
    margin: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1vw;
    border-radius: 7%;
    filter: brightness(110%);
}

.button:hover {
    box-shadow: 0 0 .7vw .2vw  #060d18;
    transform: translateY(-5%) scale(1.05);
}



#swatch {
    background: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#swatch h1 {
    margin: 0;
}

#swatch h2 {
    margin: 0;
    font-weight: normal;
}

#swatch .info {
    text-align: center;
    margin-top: 4%;
    
    
}

input[type="color"] {
    appearance: none;
    background: none;
    border: 3px solid transparent;
    width: 100%;
    height: 70%;
    padding: 0;
    outline: none;
    -webkit-appearance: none;
    border-radius: 7%;
    
}

input[type="color"]::-webkit-color-swatch {
    border: 3px solid transparent;
    border-radius: 7%;
    padding: 0;
}

input[type="color"]::-moz-color-swatch {
    border: 3px solid transparent;
    border-radius: 7%;
    padding: 0;
}

#toolbox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#grid-icon-container {
    
    
}

.grid-icon-wrapper {
    position: relative;
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), 
                linear-gradient(to right top, #aaaaaa 0%, #8f8f8f 44%, #696969 100%);
}

.blowtorch-icon {
    background: 
        radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), 
        linear-gradient(to right top, #a90329 0%, #8f0222 44%, #690019 100%);
}

.activate-blowtorch {
    border: 5px solid #98fb98;
    background: 
        radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), 
        whitesmoke;
}

.blowtorch-cursor {
    cursor: url("images/blowtorch-cursor.png"), auto;
}


#grid-icon {
   
  width: 100%;
    
}

/*.icon:hover {
    scale: 1.1;
    background: rgb(250, 250, 250);
} */

#square-count {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    margin: 0;
    font-size: 2vw;
    font-weight: 600;
    white-space: nowrap;
}

#grid-icon-wrapper h2 {
    position: absolute;
    color: black;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);  
    margin: 0;
    font-weight: normal;
    white-space: nowrap;
}

#slider {
    width: 100%;
}

#mona-lisa-container {
    position: relative;
    width: 60%;
    max-width: 330px;
    height: auto;
    user-select: none;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
    box-shadow: .8em .8em .8em rgba(0, 0, 0, 0.3);
    overflow: hidden;
    box-sizing: border-box;
    
    --size: 77vh;
    --s: calc(var(--size) / 6);
    --bor: calc(var(--size) / 60);
    --boxShadow: calc(var(--size) / 10);
}

#mona-lisa {
    width: 100%;
    height: 100%;
    display: block;
    user-select: none;
    outline: 5px solid #d4af37;
    outline-offset: -5px;
    filter: brightness(110%);
    animation: portrait-burn 15s linear forwards;
}

@keyframes portrait-burn {
    0%   {filter: brightness(100%);}     
    75%  {filter: brightness(100%);}
    90%  {filter: brightness(75%);}
    100% {filter: brightness(65%);}
}

#grid {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.square {
    flex: 1 1 auto;
    border: 1px none rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    user-select: none;
}

.circle {
    position: absolute;
    left: 49%;
    top: 50%; 
    transform:translate(-50%, -50%);
    width: 106%;
    height: 108%;
    filter: url(#wavy) blur(.75px);
    overflow: hidden;
}

.circle:before,
.circle:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%; 
    bottom: 0%;
    border-radius: 15%;
    border: var(--bor) solid rgb(249, 249, 255);
    animation: burn 15s ease-in forwards;
}

@keyframes burn {
    0%   {top: 50%;
          left: 50%;
          right: 50%; 
          bottom: 50%;
          border-radius: 50%;
    }
    50%  {
          top:  20%;
          left: 0%;
          right: 0%; 
          bottom: 20%;
          border-radius: 35%;
    }
    75%  {
          top:  0%;
          left: 0%;
          right: 0%; 
          bottom: 0%;
          border-radius: 25%;
    }
    99%  {border: var(--bor) solid rgb(249, 249, 255);}
    100% {
          border: var(--bor) solid rgba(249, 249, 255, 0);
          border-radius: 5%;}
}

.circle:before {
    box-shadow: 0 0 var(--boxShadow) rgb(255, 72, 0), inset 0 0 var(--boxShadow) rgb(223, 0, 0);
    background: rgba(0, 0, 0, 0.77);
    
}

.circle:after {
    box-shadow: 0 0 calc(var(--bor)/2) rgb(255, 60, 0), inset 0 0 var(--bor) rgb(255, 176, 112);
    background-image: url(images/fire.png);
    background-repeat: no-repeat;
    background-size: 115%;
    background-position-x: 50%;
    background-position-y: 50%;
}

svg {
    width: 0;
    height: 0;
    display: block;
}